<!-- Show total expenditure by tag -->
<table>
  <thead>
    <tr>
      <th>Category</th><th>Total spent</th><th>%</th>
    </tr>
  </thead>
  <tbody>
    <% for tag in @tags %>
      <tr>
        <td><%= tag.tag_name %></td>
        <td>£<%= sprintf('%.2f', tag.total_spent) %></td>
        <td><%= (tag.total_spent / @total_spent).round(2) * 100 %>%</td>
      </tr>
    <% end %>
    <tr class="total_row">
      <td>Total</td><td>£<%= @total_spent %></td><td>100%</td>
    </tr>
  <tbody>
</table>


<!-- show total expenditure by month -->
<table>
  <thead>
    <tr>
      <th>Month</th><th>Total expenditure</th><th>%</th>
    </tr>
  <thead>
  <tbody>
    <% for index in 0...@months.count %>
      <tr>
        <td><%= @months[index] %></td>
        <td>£<%= sprintf('%.2f', @monthly_totals[index]) %></td>
        <td><%= (@monthly_totals[index] / @total_spent).round(2) * 100 %>%</td>
      </tr>
    <% end %>
    <tr class="total_row">
      <td>Total</td><td>£<%= @total_spent %></td><td>100%</td>
    </tr>
  </tbody>
</table>